/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {
    background: #c3e5a5;
    font-family: "Rubik" , sans-serif;
    position: relative;
    /* visited state */
  }

  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6{
    font-family: "Inter" , sans-serif;
  }

  body .container {
    max-width: 144rem;
    margin:  auto;
    padding: 0 1.5rem;
  }
  
  body .img-fluid {
    width: 100%;
    height: auto;
    float: none;
  }
  
  body p,
    body article,
    body aside {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.25;
    text-indent: 0;
  }
  
  h1::first-letter {
    line-height: initial;
  }

  body .smlTitle {
    color: #6E431E;
    text-align: center;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  body .text-center {
    text-align: center;
  }

  body a:hover{
    color: #6e421e;
    /* hover state color*/

  }

  body a:visited {
    color: #0B39FF;
  }

  /* main style start here*/

  #header {
    background-color: #426116;
  }

  #header #menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #header #menu .nav-list {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    list-style: none;
  }

  #header #menu .nav-list .nav-item {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    padding-left: 4rem;
    text-align: center;
  }

  #header #menu .nav-list .nav-item .nav-link {
    text-decoration: none;
    color: #fff;
    font-style: normal;
  }

  #header #menu .nav-list .nav-item .nav-link.active {
    color: #FFC563;
  }

  #banner .bannerController {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  #banner .bannerController .bannerLeft {
    padding: 1.6rem;
    max-width: 49%;
  }

  #banner .bannerController .bannerLeft .commonText {
    padding-top: 3rem;
  }

  #trippleCards .tripleCardCtrl {
    padding: 3.8rem 0;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 2.2rem;
  }

  #trippleCards .tripleCardCtrl .card {
    max-width: 32%;
  }

  #trippleCards .tripleCardCtrl .card .card-title {
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  #trippleCards .tripleCardCtrl .card .card-text {
    padding: 1.6rem 0;
    font-size: 2.4rem;
  }

  #trippleCards .tripleCardCtrl .card .card-btn {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    border-radius: 2.1rem;
    background: #009688;

    display: inline-block;
    font-style: normal;
  }

  #trippleCards .tripleCardCtrl .card .card-btn svg {
    margin-left: 0.8rem;
  }
  
  #trippleCards .removePt {
    padding-top: 0;
  }
  
  #footer {
    padding: 2.1rem 0;
    background: #7FA93B;
    text-align: center;
  }
  
  #footer .footerText {
    font-size: 2.4rem;
    font-weight: 400;
    color: #222;
  }
  #housingBanner {
    padding: 1.6rem 0;
  }
  
  #dreamHomeAwaits .dreamHomeCtrl {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  
  #dreamHomeAwaits .yourDreamLeft {
    max-width: 26%;
  }
  
  #dreamHomeAwaits .yourDreamLeft .smlTitle {
    text-align: left;
    padding-bottom: 2.1rem;
  }
  
  #dreamHomeAwaits .yourDreamRight {
    max-width: 72%;
  }
  
  #dreamHomeAwaits .yourDreamRight .triplRightCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
  }
  
  #dreamHomeAwaits .yourDreamRight .triplRightCards img {
    max-width: 32.9rem;
  }
  
  #howMuch {
    padding: 1.8rem 0;
  }
  
  #howMuch .smlTitle {
    padding-bottom: 1.9rem;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .py-1 {
    padding: 1.6rem 0;
  }
  
  .py-3 {
    padding: 3rem 0;
  }
  
  #renting {
    padding-bottom: 3.8rem;
  }
  
  #renting .dualSectionCtrl {
    display: flex;
    justify-content: space-between;
  }
  
  #renting .dualSectionCtrl .bold {
    color: #6E431E;
  }

  #renting .dualSectionCtrl .smlTitle{
    padding-top: 2rem;
  }
  
  #renting .dualSectionCtrl a {
    font-style: italic;
    color: #0B39FF;
  }
  #renting .dualSectionCtrl a:hover {
    color: #6e421e;
  }
  
  #renting .dualSectionCtrl a:visited {
    color: #0B39FF;
  }

  #renting .dualSectionCtrl .innerTitleDes {
    padding: 1rem 0;
  }
  
  #renting .dualSectionCtrl .left {
    max-width: 49%;
  }
  
  #renting .dualSectionCtrl .right {
    max-width: 49%;
  }
  
  a {
    font-style: italic;
    color: #0B39FF;
  }
  
  .innerFourImages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .innerFourImages .singleImg {
    max-width: 48.5%;
    padding: 1rem 0;
  }
  
  .rentingExplore .smlTitle {
    text-align: left;
  }
  
  .rentingExplore .dualSectionCtrl>#innerTitleDes {
    padding-top: 2.5rem;
  }
  
  .pb-0 {
    padding-bottom: 0;
  }
  
  .rentingExplore_celcebrate #dualMiddle {
    align-items: center;
  }

  #map {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  
  #contactHeader {
    text-align: center;
    padding: 4rem 0;
  }
  
  #contactHeader .contactSmlTitle {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
  }
  
  #contactHeader .letsTalk {
    max-width: 30.9rem;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;
    font-size: 3.6rem;
    font-weight: 700;
  }
  
  #contactHeader .contactMsg {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
  }
  
  #contactForm {
    padding-top: 2.4rem;
    padding-bottom: 10rem;
  }
  
  #contactForm .formCtrl {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  
  #contactForm .formCtrl .singleInput {
    margin-bottom: 3rem;
  }
  
  #contactForm .formCtrl .singleInput input,
  #contactForm .formCtrl .singleInput textarea {
    padding: 1.5rem 1.25rem;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #005C5C;
    background: #F1EEE7;
  }
  
  #contactForm .formCtrl .submitBtnCtrl {
    text-align: right;
  }
  
  #contactForm .formCtrl .submitBtnCtrl .submitBtn {
    font-family: "Inter";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    padding: 2rem 4.5rem;
    color: #fff;
    border-radius: 50px;
    background: #179B5C;
    max-width: 22rem;
    margin: 0 0 0 auto;
    border: none;
    cursor: pointer;
  }
  
  #contactForm .formCtrl .dualInput {
    display: flex;
    align-items: center;
  }
  
  #contactForm .formCtrl .dualInput .singleInput {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  
  #contactForm .formCtrl .dualInput .singleInput input {
    padding: 0;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }
  
  #contactForm .formCtrl label {
    font-family: "Inter";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0.8rem;
    display: block;
    cursor: pointer;
  }
  
  #contactForm .formCtrl .leftForm {
    width: 40%;
  }
  
  #contactForm .formCtrl .rightForm {
    width: 50%;
  }

  #userDetails {
    padding-bottom: 10rem;
  }
  
  #userDetails #customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #userDetails #customers td,
  #userDetails #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #userDetails #customers tr:nth-child(even) {
    background-color: #CFF;
  }
  
  #userDetails #customers tr:nth-child(odd) {
    background-color: #fff;
  }
  
  #userDetails #customers tr:hover {
    background-color: #ddd;
  }
  
  #userDetails #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  #userDetails table,
  #userDetails tr,
  #userDetails td,
  #userDetails th {
    font-size: 2rem;
  }
  
  #userDetails table {
    background: #fff;
  }
  
  #cookies {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 999;
  }
  
  #cookies .cookieCtrl {
    padding: 3rem;
    border-radius: 1rem;
    background: #bb851881;
    max-width: 40rem;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
  }
  
  #cookies .cookieCtrl .cookieTitle {
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
  }
  
  #cookies .cookieCtrl .cookieMessage {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: justify;
    color: #fff;
    line-height: 1.5;
    padding: 2.5rem 0;
  }
  
  #cookies .cookieCtrl .acceptCookieBtn {
    font-size: 2rem;
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    color: #000;
    background: #fff;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    display: inline-block;
    text-decoration: none;
  }
  
  figcaption{
    font-size: 1.5rem;
    text-align: center;
  }
  
  fieldset {
    border: none;  /* Remove the border around the fieldset */
  }
  
  legend {
    text-align: center;  /* Center the text horizontally */
    width: 100%;         /* Make the legend full-width */
    margin: 0 auto;      /* Center the legend within the fieldset */
    border: none;        /* Remove any border or outline */
    visibility: hidden;
  }
  
  @media screen and (max-width: 768px) {
    html {
      font-size: 8px;
    }
  
    #header #menu,
    #header #menu .nav-list,
    #banner .bannerController,
    #dreamHomeAwaits .dreamHomeCtrl,
    #renting .dualSectionCtrl,
    #contactForm .formCtrl {
      display: block;
      text-align: left;
    }
  
    #banner .bannerController .bannerLeft,
    #dreamHomeAwaits .yourDreamLeft,
    #dreamHomeAwaits .yourDreamLeft,
    #renting .dualSectionCtrl .left,
    #renting .dualSectionCtrl .right,
    #contactForm .formCtrl .leftForm {
      width: 100%;
      max-width: 100%;
    }
  
    #header #menu .nav-list .nav-item {
      text-align: left;
      padding: 0.75rem 0;
    }
  
    #trippleCards .tripleCardCtrl .card {
      max-width: 95%;
      margin: 0 auto;
    }
  
    #dreamHomeAwaits .yourDreamRight .triplRightCards {
      padding-top: 2rem;
    }
  
    #dreamHomeAwaits .yourDreamRight .triplRightCards img {
      max-width: 31%;
    }
  
    #renting .dualSectionCtrl .right {
      padding-top: 2rem;
    }
  
    #renting {
      padding-top: 2rem;
    }
  
    #renting .dualSectionCtrl .left {
      padding-top: 2rem;
    }
  }
  